.box {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.box:not(:first-child) {
  display: none;
}
@media (min-width: 576px) {
  .box.sm {
    display: block;
  }
}

@media (min-width: 768px) {
  .box.md {
    display: block;
  }
}

@media (min-width: 992px) {
  .box.lg {
    display: block;
  }
}

@media (min-width: 1200px) {
  .box.xl {
    display: block;
  }
}

@media (min-width: 1400px) {
  .box.xxl {
    display: block;
  }
}
